<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Circle</title>
  <link rel="stylesheet" href="../css/materialize.css">
  <link rel="stylesheet" href="../css/index.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-wrapper">
      <nav class="page-nav">
        <div class="nav-wrapper">
          <h1 class="brand-logo">NextSTEP</h1>
        </div>
      </nav>
      <div class="nav-content"></div>
      <div class="tabs-wrapper">
        <ul class="tabs nav-tabs">
          <li class="tab nav-tab"><a href="/index.html" target="_self">首页</a></li>
          <li class="tab nav-tab"><a href="/template/activity.html" target="_self">活动</a></li>
          <li class="tab nav-tab"><a class='active' href="/template/circle.html" target="_self">圈子</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="content-left">
      <div class="user-info-card card">
        <div class="card-content">
          <img class='avatar' src="/img/person-1.jpg" alt="User">
          <div class="data-group info-group">
            <div class="data-item info-item">
              <p>200</p>
              <p class="data-item-name info-item-name">关注</p>
            </div>
            <div class="divider"></div>
            <div class="data-item info-item">
              <p>30</p>
              <p class="data-item-name info-item-name">活动</p>
            </div>
          </div>
        </div>
      </div>

      <div class="siderbar-nav card">
        <ul class="collection">
          <li><a href="/template/activity.html" class="collection-item active">所有圈子</a></li>
          <li><a href="/template/activity.html" class="collection-item">我的圈子</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <nav class="search-nav">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>

      <div class="card-group act-card-group">
        <div class="card act-card">
          <div class="card-content">
            <div class="act-snap">
              <img src="/img/person-3.jpg" alt="Avatar" class="avatar">
              <div class="act-snap-info">
                <p class="name">乐跑俱乐部</p>
                <p class="intro">和我们一起乐跑吧</p>
              </div>
              <a href="/template/activity-detail.html" class="btn btn-second waves-effect waves-light">详情</a>
              <button class="join-btn btn waves-effect waves-light">加入</button>
            </div>
            <div class="act-info">
              <div class="act-info-item">
                <i class="material-icons medium">watch_later</i>
                <p class="info">创建于 2016/10/20</p>
              </div>
              <div class="act-info-item">
                <i class="material-icons medium">people</i>
                <p class="info">3 / 16 人</p>
              </div>

              <div class="act-info-item"></div>
              <div class="act-info-item"></div>
            </div>
          </div>
        </div>
        <div class="card act-card">
          <div class="card-content">
            <div class="act-snap">
              <img src="/img/person-3.jpg" alt="Avatar" class="avatar">
              <div class="act-snap-info">
                <p class="name">乐跑俱乐部</p>
                <p class="intro">和我们一起乐跑吧</p>
              </div>
              <a href="/template/activity-detail.html" class="btn btn-second waves-effect waves-light">详情</a>
              <button class="join-btn btn waves-effect waves-light">加入</button>
            </div>
            <div class="act-info">
              <div class="act-info-item">
                <i class="material-icons medium">watch_later</i>
                <p class="info">创建于 2016/10/20</p>
              </div>
              <div class="act-info-item">
                <i class="material-icons medium">people</i>
                <p class="info">3 / 16 人</p>
              </div>

              <div class="act-info-item"></div>
              <div class="act-info-item"></div>
            </div>
          </div>
        </div>
        <div class="card act-card">
          <div class="card-content">
            <div class="act-snap">
              <img src="/img/person-3.jpg" alt="Avatar" class="avatar">
              <div class="act-snap-info">
                <p class="name">乐跑俱乐部</p>
                <p class="intro">和我们一起乐跑吧</p>
              </div>
              <a href="/template/activity-detail.html" class="btn btn-second waves-effect waves-light">详情</a>
              <button class="join-btn btn waves-effect waves-light">加入</button>
            </div>
            <div class="act-info">
              <div class="act-info-item">
                <i class="material-icons medium">watch_later</i>
                <p class="info">创建于 2016/10/20</p>
              </div>
              <div class="act-info-item">
                <i class="material-icons medium">people</i>
                <p class="info">3 / 16 人</p>
              </div>

              <div class="act-info-item"></div>
              <div class="act-info-item"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer class="page-footer">
    <p class="center">Made with love by Moo © 2016 Nextstep</p>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src='/js/materialize.js'></script>
<script src='/js/echarts.common.min.js'></script>
<script src='/js/sport.js'></script>

</html>
